AppDirs
argparse
boto
edtf
future
hiredis
Jinja2
mapbox-vector-tile
MarkupSafe
ModestMaps
protobuf
psycopg2
pyclipper
pycountry
pyproj
python-dateutil
PyYAML
redis
requests
Shapely
StreetNames
ujson
Werkzeug
zope.dottedname
git+https://github.com/csommelet/tilequeue@master#egg=tilequeue
git+https://github.com/csommelet/raw_tiles@master#egg=raw_tiles
